{{- if .Values.autoscaling.enabled }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: k2sobot-hpa
  namespace: {{ .Values.namespace.name }}
  labels:
    app: k2sobot
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: k2sobot
  minReplicas: {{ .Values.autoscaling.minReplicas }}
  maxReplicas: {{ .Values.autoscaling.maxReplicas }}
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ .Values.autoscaling.targetCPUUtilizationPercentage }}
{{- end }}