{{- if .Values.sealedSecrets.enabled }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: k2sobot-secrets
  namespace: {{ .Values.namespace.name }}
spec:
  encryptedData:
    {{- if .Values.sealedSecrets.secrets.SLACK_BOT_TOKEN }}
    SLACK_BOT_TOKEN: {{ .Values.sealedSecrets.secrets.SLACK_BOT_TOKEN | quote }}
    {{- end }}
    {{- if .Values.sealedSecrets.secrets.SLACK_SIGNING_SECRET }}
    SLACK_SIGNING_SECRET: {{ .Values.sealedSecrets.secrets.SLACK_SIGNING_SECRET | quote }}
    {{- end }}
    {{- if .Values.sealedSecrets.secrets.VERIFICATION_TOKEN }}
    VERIFICATION_TOKEN: {{ .Values.sealedSecrets.secrets.VERIFICATION_TOKEN | quote }}
    {{- end }}
    {{- if .Values.sealedSecrets.secrets.GEMINI_API_KEY }}
    GEMINI_API_KEY: {{ .Values.sealedSecrets.secrets.GEMINI_API_KEY | quote }}
    {{- end }}
    {{- if .Values.sealedSecrets.secrets.ARGOCD_PASSWORD }}
    ARGOCD_PASSWORD: {{ .Values.sealedSecrets.secrets.ARGOCD_PASSWORD | quote }}
    {{- end }}
  template:
    metadata:
      name: k2sobot-secrets
      namespace: {{ .Values.namespace.name }}
    type: Opaque
{{- end }}
